* {
    box-sizing: border-box;
}

body {
    background-color: #3c4765;
    color: #fdffff;
    font-family: cursive;
}

.container {
    width: 350px;
    margin: 30px auto;
    padding: 15px;
}

.container h3 {
    text-align: center;
    font-size: 30px;
}

.display {
    background-color: #191f33;
    text-align: right;
    padding: 15px;
    border-radius: 7px;
    font-size: 30px;
}

.operations {
    background-color: #191f33;
    margin-top: 15px;
    padding: 15px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.operations span {
    padding: 8px;
    border-radius: 4px;

}

.operations span:hover {
    cursor: pointer;
}

.operations .input {
    background-color: #e9e3db;
    color: #44454f;
}

.operations .input:hover {
    background-color: #fde9e3;
}

.operations .input:active {
    background-color: #f6d9d0;
}

.operations #del ,
.operations #reset {
    background-color: #3c4765;
}

.operations #del:hover ,
.operations #reset:hover {
    background-color: #46516c;
}

.operations #del:active ,
.operations #reset:active {
    background-color: #44454f;
}

.operations #del {
    grid-area: 1 / 4;
}

.operations #reset  {
    grid-column: 1/3;
    grid-row: 5;
    font-size: 25px;
}

.operations #calc {
    background-color: #c73c2c;
    color: #fde9e3;
    grid-row-start: 5;
    grid-column: 3 / 5;
    font-size: 25px;
}

.operations #calc:hover {
    background-color: #c74537;
}

.operations #calc:active {
    background-color: #ce2513;
}

.operations span[value='+'] {
    grid-area: 2 / 4
}

.operations span[value='-'] {
    grid-area: 3 / 4
}