*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to right ,#829ee9, rgb(214, 136, 136));
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}

.calculator-grid > button {
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    background-color: rgb(255, 255, 255, .75);
    font-size: 2rem;
}

.calculator-grid > button:hover{
    background-color: rgb(255, 255, 255, .9);
}
.calculator-grid > button:active{
    background-color: rgb(255, 255, 255);
}

.calculator-grid .span-two {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, .75);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-direction: column;
    word-break: break-all;
}

.display .previous {
    font-size: 1.5rem;
    color: rgb(255, 255, 255, .7);
}

.display .current {
    font-size: 2rem;
    color:rgb(255, 255, 255)
}
